<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JS_Label</title>
    {% block header %}
        {% load static %}
        {#        <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>#}
        {#        <script src="{% static "js/vue.js" %}"></script>#}
        {#        <link rel="stylesheet" type="text/css" href="{% static "css/div.css" %}"/>#}
    {% endblock header %}
</head>

<body>

<div id="div_top" align="top">
    {% block title %}
    {% endblock %}
</div>

<div id="div_left">
    {% block  div_left %}
    {% endblock %}
</div>

<div id="div_center">
    {% block  content %}
    {% endblock %}
</div>

<div id="div_right">
    {% block  div_right %}
    {% endblock %}
</div>
</body>
</html>