{% extends "base.html" %}

{% block content %}

    <form method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>用户名:</td>
                <td><input id="txtUser" name="username" width="50"/></td>
            </tr>
            <tr>
                <td>密码:</td>
                <td><input id="txtPwd" type="password" name="password" width="50"/></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" content="提交"/></td>
            </tr>
        </table>
    </form>

    <div style="position: absolute;left: 50%">
        <form method="post">
            {% csrf_token %}
            {#            {{ form }}#}

            <div>
                {{ form.username.errors }}
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>

            <div>
                {{ form.password.errors }}
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <input type="submit" content="提交"/>
        </form>
    </div>

{% endblock content %}