{% extends "base.html" %}

{% block content %}
    <div style="position: absolute;left: 20%">
        <form>
            {% csrf_token %}

            {% for t in tasks %}
                <div >
                    <div>
                        {{ '任务名:' }}
                        {{ t.name }}
                    </div>

                    <div>
                        {{ '创建人:' }}
                        {{ t.user_created.username }}
                    </div>
                    <div>
                        {{ '创建时间:' }}
                        {{ t.date_created|date:"Y-m-d" }} {{ t.date_created|time:"H:i:s" }}
                    </div>
                    <div>
                        {{ '图片:' }}
                        <img src="{{ t.files.all.0.file_path|get_media_file_url }}" width="100" height="100"/>
                    </div>
                </div>
            {% endfor %}

        </form>
    </div>

{% endblock content %}